@import '../../../assets/styles/vars.scss';
.item {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-left: .3em;
    padding-right: .3em;
    

    div {
        width: 1em;
        height: 1em;
        border-radius: 50%;
    }
}

.done {
    position: relative;
    opacity: .5;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #000;
        transform: translateY(-50%);
    }
}

.color {
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.color-1 {
    background-color: $colorViolet;
}
.color-2 {
    background-color: $colorMeadowlark;
}
.color-3 {
    background-color: $colorTomato;
}
.color-4 {
    background-color: $colorBoyBlue;
}
.color-5 {
    background-color: $colorOil;
}
.color-6 {
    background-color: $colorLavender;
}
.color-7 {
    background-color: $colorDahlia;
}
.color-8 {
    background-color: $coloArcadia;
}
.color-9 {
    background-color: $colorEmperador;
}
.color-10 {
    background-color: $colorMauve;
}
.color-11 {
    background-color: $colorCrocus;
}
.color-12 {
    background-color: $colorLime;
}