@import '../../../assets/styles/mixins.scss';
.container {
    border-right: 1px solid $colorPrimary;


    @include mobile-down {
        padding: 15px;
    }

    @include tablet-only {
        padding: 30px;
        width: 250px;
        height: 100%;
    }

    @include tablet-up {
        padding: 50px;
        width: 400px;
        height: 100%;
    }   
}

.list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 25px;
}