@import '../../../assets/styles/mixins.scss';
.main {
    display: flex;
    align-items: stretch;
    
    background-color: $colorSecondary;
    color: $colorPrimary;
    border: 1px solid $colorPrimary;
}