// Fonts
$base_font_size: 16;
$base_font_family: 'Montserrat', sans-serif;

// Font-Size
$fz-x-small: 12px;
$fz-small: 14px;
$fz-medium: 16px;
$fz-large: 24px;
$fz-x-large: 32px;

// Breakpoints
$mobileWidth: 600;
$tabletWidth: 900;
$desktopWidth: 1200;
$largedesktopWidth: 1980;

//color
$colorPrimary: #383e60;
$colorSecondary: #49f2d1;
$colorWhite: #fff;
$colorBlack: #000;

$colorViolet: #6B5B95;
$colorMeadowlark: #ECDB54;
$colorTomato: #E94B3C;
$colorBoyBlue: #6F9FD8;
$colorOil: #944743;
$colorLavender: #DBB1CD;
$colorDahlia: #EC9787;
$coloArcadia: #00A591;
$colorEmperador: #6C4F3D;
$colorMauve: #EADEDB;
$colorCrocus: #BC70A4;
$colorLime: #BFD641;
