// Fonts
$base_font_size: 16;
$base_font_family: 'Montserrat', sans-serif;

// Font-Size
$fz-x-small: 12px;
$fz-small: 14px;
$fz-medium: 16px;
$fz-large: 24px;
$fz-x-large: 32px;

// Breakpoints
$mobileWidth: 600;
$tabletWidth: 900;
$desktopWidth: 1200;
$largedesktopWidth: 1980;

//color
$colorPrimary: #383e60;
$colorSecondary: #49f2d1;
$colorWhite: #fff;
$colorBlack: #000;

$colorBlue: #181c9a;
$colorRed: #bd1f1b;
$colorYellow: #e6ec32;
$colorGray: #999;