@import '../../assets/styles/vars.scss';

@import '../../assets/styles/mixins.scss';

.link {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: $fz-large;
    
    .img {
        max-width: 2em;
        max-height: 2em;
        object-fit: contain;
    }

    @include mobile-down {
        justify-content: center;
        span {
            display: none;
        }
    }

    @include tablet-only {
        flex-direction: column;
        align-items: baseline;
    }
}

.link-active {
    color: $colorMauve;
    
    .img {
        opacity: .6;
    }
}